body{
  box-sizing: border-box;
  margin: 0;
  padding: 0 25%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titleName {
  font-size: 4em;
  padding: 10px;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(78, 164, 190)
}

.currentWeather .icon {
  width: 8em;
}

.header {
  display: flex;
}

.inputButton {
  margin-left: 3em;
  margin-top: 3em;
}

.inputButton input {
  border-radius: 5px;
  width: 200px;
}

.inputButton button {
  margin-left: 5px;
  border-radius: 5px;
  background-color: rgb(222, 232, 252)
}

.city{
  margin: 0 5px 20px 10px;
  color:rgb(72, 81, 88);
}

.strongName {
  font-weight: bold;
}

.weatherNow {
  color:rgb(173, 190, 202)
}

.fiveDaysForecast {
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(172, 179, 179);
  border-radius: 7px;
}

.innerWrapper {
  display: flex;
}

.weatherValues {
  width: 100%;
  padding-right: 0;
  display: flex;
}

.fiveDaysForecast h1{
  position: relative;
  margin: 1%;
  padding: 2%;
  color:rgb(46, 46, 56);
  border-color: rgb(65, 53, 53);
  background-color: rgb(140, 212, 235);
  border-radius: 5px;  
}

.fiveDaysForecast h1:hover {
  background-color: rgb(221, 247, 110);
  transition: 0.3s ease-in-out;
}

.weatherInOneDay {
  display: none;
  align-items: center;
  justify-content: space-between;
  color:rgb(48, 48, 54);
  padding-left: 10px;
  width: 100%;
}

.weatherInOneDay:first-child {
  display: flex;
}

.weatherInOneDayPressed {
  display: block;
}

.dayNumber{
  margin: 80px 20px;
  display: none;
  font-size: 40px;
  font-weight: bold;
}

.currentWeather {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hourly {
  display: flex;
  align-items: center;
  flex-direction: column;
}
